
html, body{
     height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html{
  font-size: 10px;
}

.item1{ grid-area:header;}
.item2{ grid-area:menu;}
.item3{ grid-area:main;
font-family: 'Arvo', serif;}
.item4{ grid-area:footer;}

.grid-container{
display:grid;

grid-template-columns: repeat(4, 1fr);
grid-template-areas:
'header header header header'
'main main main main'
'menu menu menu menu'
'footer footer footer footer';
/* grid-gap: 10px;
background-color: #2196f3;
padding: 10px; */
padding:0;
margin:0;
}

.grid-container > div {
  background-color:  rgba(174, 174, 245, 1);
  text-align: center;
  padding: 20px 0;
font-size: 2rem;
}

/* ^website and body */


.item1  {

font-weight: bold;
font-family: 'Noto Sans', sans-serif;

}

/* nav bar  */
.grid-nav1{ grid-area:top;}
.grid-nav2{ grid-area:bottom;}
.grid-nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
grid-template-areas:
'top top top top'
'bottom bottom bottom bottom'
'bottom bottom bottom bottom'
'bottom bottom bottom bottom'
'bottom bottom bottom bottom';


}

.grid-nav1{
box-sizing: border-box;
 padding:0%;
 margin:0%;

}
.flexitem{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
      background-color: rgba(174, 174, 245, 1);
      box-sizing: border-box;
    padding: 0%;
    margin:0%;
    align-items: center;
  margin-left: 5px;
}
/* nav bar link ************************************************ */
a:link{
    text-decoration: none;
    font-family: 'Arvo', serif;
    /* margin-top: 5px; */
   color: rgba(0,0,0,0.7);
   
}
a:visited{
color:black;
}


.arch:hover{
    color: rgba(0,0,0,1);
    border-radius:25px;
      border-right: solid 3px black;
    border-left: solid 3px black;
    background-color: rgba(174, 174, 245, 0.2);
}

.arch:visited{
color:black;
}


/* nav bar link end***************************** */

/* nav bar flex******************************* */
.flexitem :nth-child(1){
   order: 1;
   flex-grow: 1;
}
.flexitem :nth-child(2){
   order: 2;
   flex-grow: 1;
}

.flexitem :nth-child(3){
   order: 3;
   flex-grow: 1;
}

.flexitem :nth-child(4){
   order: 4;
    flex-grow: 1;
}

.flexitem :nth-child(5){
   order: 5;
    flex-grow: 1;
}
.flexitem :nth-child(6){
   order: 6;
    flex-grow: 1;
}

.flexitem :nth-child(7){
   order: 7;
    flex-grow: 5;

}
.image2{
    order: 8;
    flex-grow: 1;
}


.image2{ 
   padding:0%;
   margin: 0%;
    width: 2em;
    height:3em;
}
.image1{
    width:100%;
    height: 80vh;
}
/* images end *********************************/



/* cards********************************************* */

.card-flex{
  display:flex;
  justify-content: center;

}



.card1 {
  box-shadow: 0px 4px 8px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  display:flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}

.card2 {
  box-shadow: 0px 4px 8px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  display:flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

.card3 {
  box-shadow: 0px 4px 8px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  display:flex;
  flex-direction: column;
  align-items: center;
  order: 3;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.cardP1{
  max-height: 240px;
  width: 55%;
  order:1;
  flex-grow :1;
  margin-top: 2em;
}
.cardP2{
  
  max-height: 240px;
  max-width: 55%;
  order:1;
  flex-grow :1;

 margin-top: 2em;
}


.cardP3{
  max-height: 240px;
  max-width: 55%;
  order:1;
  flex-grow :1;

  margin-top: 2.2em;


}

.low-card {
  padding: 2px 16px;
  order:2;
  flex-grow: 1;

}

/* end card**************************************8 */


.moto{
  font-family: 'Frank Ruhl Libre', serif;
  font-size:6rem;
}
/* footer **************************************** */

.item4 {
  display: flex;
  justify-content: center;
}

.foot1 {
  order: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-right: solid 3px rgb(160, 160, 160);
 
}

.tfoot1::after {
  display: block;
  content: "";
  border-bottom: solid 3px rgb(160, 160, 160);
  width: 12em;
  justify-content: center;
}

.tfoot::after {
  display: block;
  content: "";
  border-bottom: solid 3px rgb(160, 160, 160);
  width: 12em;
  justify-content: center;

}


.fsocial {
  order: 2;
  flex-grow: 1;
  align-self: center;
 
}

.foot2 {
  order: 2;
  flex-grow: 1;
  border-right: solid 3px rgb(160, 160, 160);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frow {
  display: flex;
  flex-direction: row;
  order: 2;
  flex-grow: 1;
  width: 15em;
}

.fmail1 {
  order: 1;
  flex-grow: 1;
  align-self: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  font-family: 'Arvo', serif;
  text-align: left;
}

.fmail2 {
  order: 2;
  flex-grow: 1;
  align-self: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  font-family: 'Arvo', serif;
  text-align: right;
}

.foot3 {
  order: 3;
  flex-grow: 1;
  border-right: solid 3px rgb(160, 160, 160);
  display: flex;
  flex-direction: column;
 
}
.bar{
  
  align-self: center;
 
  
}

.tfoot3::after {
  display: block;
  content: "";
  border-bottom: solid 3px rgb(160, 160, 160);
  width: 12em;
  justify-content: center;
  
}

.fprice {
  order: 2;
  flex-grow: 1;
  align-self: center;
  width: 15em;
  display: flex;
  flex-direction: row;
  font-size: 1.7rem;
}

.fprice1 {
  order: 1;
  flex-grow: 1;
  align-self: center;
  text-align: left;
}

.fprice2 {
  order: 2;
  flex-grow: 1;
  align-self: center;
  text-align: right;
}

.foot4 {
  order: 4;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}



.foot4>img {
 

  margin-top: 2em;
  width: 5em;
  height: 5em;
  border-radius: 15px 80px 15px 80px;
  background-color: black;
  transform: rotate(-45deg);
  padding: 0%;

}


.fimg:hover {
  border-radius: 50%;
  background-color: gray;
  transform: rotate(0deg);
  transition: 1.3s
}

/* button****************************** */



button{
  background:rgb(160, 160, 160);
  color:#fff;
  border:none;
  position:relative;
  height: 2em;
  font-size:1em;
  width: 14em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:rgb(160, 160, 160);
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(160, 160, 160);
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}












/* button-end****************************** */

/* media query***************************** */

@media only screen and (max-width: 950px){
html{
  font-size: 8px;
}

.foot4>img {
 

  
 display: none;
}

 .foot3 {
  border: none;
 
}
.image2 {
  padding: 0%;
  margin: 0%;
  width: 2em;
  height: 3em;
}
.drag{
font-size: 2em;
}
}

@media only screen and (max-width: 700px){

html{
  font-size: 6px;
}
.drag{
font-size: 2em;
}

.moto{
  font-size: 2em;
}

.image1{
  height: 40vh;
}

/* card *************************************/
.card-flex{

  flex-direction: column;
}

.card1{
  width: 100%;
}

.card2{
  width: 100%;
}

.card3{
  width: 100%;
}

/* card-end ***************************************/

/* footer************************** */


.item4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.foot1 {
 
 font-size: 4em;
 margin-bottom: 2em;
}

.foot2{
  font-size: 4em;
  margin-bottom: 2em;
}
.fmail1 ,.fmail2{
  font-size: .5em;
  
  
}

.fmail1{
  text-align: right;
  margin-right: .5em;
}
.fmail2{
  text-align: left;
}

.foot3{
  font-size: 4em;
  margin-bottom: 2em;
}

.fprice{
font-size: .5em;
}

.moto{
  font-size: 2em;
}


}



/* media query end***************************** */